<html>
<head>
<link rel="stylesheet" type="text/css" href="style/dss.css">
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/tabs.js"></script>
<script src="js/carousel.js"></script>
</head>
<body>
<center>
<ul class="slider">
  <li>
    <img width="100%" height="600px" src=""> 
  </li>
  <li>
    <img width="100%" height="600px" src="2"> 
  </li>
  <li>
    <img width="100%" height="600px" src="3"> 
  </li>
  <li>
    <img width="100%" height="600px" src="4"> 
  </li>
</ul>
</center>
<div class="container">

	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1"><h1>Home</h1></li>
		<li class="tab-link" data-tab="tab-2"><h1>About</h1></li>
		<li class="tab-link" data-tab="tab-3"><h1>Tour</h1></li>
		<li class="tab-link" data-tab="tab-4"><h1>Contact Us</h1></li>
	</ul>

	<div id="tab-1" class="tab-content current">
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
	</div>
	<div id="tab-2" class="tab-content">
		 <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
	</div>
	<div id="tab-3" class="tab-content">
		<h2>GUMB will be on tour the 8th of May at LEBC <a href="https://www.google.com/maps/place/22530+Bolender+Pontious+Rd,+Circleville,+OH+43113/@39.599846,-82.89678,17z/data=!3m1!4b1!4m2!3m1!1s0x884782ad5340a645:0x28e34875add08065">View Directions</a></h2>
	</div>
	<div id="tab-4" class="tab-content">
		<h2>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
	</div>

</div>
</body>
</html>
